{% extends 'layouts/default.twig' %}

{% block head %}

    <title>Home Page</title>

{% endblock %}

{% block content %}
    <div class="container">
        <ul>
            <li>Total saison register : {{ statManga.0.total_saison }}</li>
            <li>Total episodes watched : {{ statManga.0.total_episodes }}</li>
            <li>Total oav watched : {{ statManga.0.total_oav }}</li>
            <li>Total film watched : {{ statManga.0.total_film }}</li>
        </ul>
    </div>
{% endblock %}