{% block footer %}
    <footer class="footer container">
        <div class="text-muted">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>@Léo-Paul MARTIN</p>
        </div>
    </footer>
{% endblock %}