<style type="text/css">
    footer {
      text-align: left;
      color: #99979c;
      background-color: #2a2730;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    footer a {
      color: #FFFFFF;
    }
</style>

<div class="container">
	<p>Léo-Paul</p>
	<a href="#">Back to top</a>
</div>